#simulation info
model = T-UFRRJ
max-speed = 25
cellX = 1500
cellY = 1
size = 1.5
default-size = 7.5
statistic-sufix = SL-DEFAULT
log-sufix = NULL
time-steps = 10800
transiente-steps = 3600
statistic-steps = 120
initial-density = 0.01
delta-density = 0.01
final-density = 0.90
profiles-occupation = {1.0}
#blocked-cell = {10,0,20,-10;500,0,01,-100}
#blocked-cell = {x,y,lg,-10;x,y,lg,-100}
#Each group of blocked cell is composed by initial position, its length and the number of cells used to signalize vehicles, representing by negative values
#Grups are split by ';'

profile = {name = CAR-DEFAULT; betaA-acc = 5; betaB-acc = 2; betaA-dist = 5; betaB-dist = 2; headway = 6; safe-distance = 2; vehicle-size = 5; max-speed = 25; acceleration = 4; left-probability  = 1.00;  right-probability = 1.00; log = [NULL];}

#profile = {name = CAR-DEFAULT; betaA-acc = 5; betaB-acc = 2; betaA-dist = 5; betaB-dist = 2; headway = 6; safe-distance = 2; vehicle-size = 5; max-speed = 25; acceleration = 4; left-probability  = 1.00;  right-probability = 1.00; log = [0,1,2,NULL];}

#profile = {name = CARS-B; betaA-acc = 5; betaB-acc = 2; betaA-dist = 5; betaB-dist = 2; headway = 6; safe-distance = 2; vehicle-size = 5; max-speed = 25; acceleration = 4; left-probability  = 1.00; right-probability = 1.00; log = [NULL];}    

EOF
